.maintenance-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
}

.maintenance-message {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.maintenance-submessage {
  color: red;
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: center;
}
